@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');


.flex{

    display: flex;
    align-items: center;
    justify-content: center;
  
}

.myButton{
    padding: 1.5rem;
    font-family: 'DynaPuff', cursive;
    font-size: clamp(1.5rem, 3rem, 2.3rem);
    color: rgb(255, 255, 255);
    background-color: rgb(138, 9, 69);
    border: none;
    border-radius: 30px;

}


.myButton:hover{
    color: rgb(138, 9, 69);
    background-color: rgb(236, 189, 226);
    border: thin solid rgb(138, 9, 69);
}